<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/form.css" rel="stylesheet" />
    <title>Dynamic production line</title>
  </head>
  <body>
    <main class="container">
      <h2 class="title">Account Update</h2>
      <form id="sing_up">
        <input type="hidden" id="id" name="id" value="<%= account._id %>" />
        <label for="full_name">Full Name:</label>
        <input
          type="text"
          id="full_name"
          name="full_name"
          value="<%= account.fullName %>"
          require
        />
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          value="<%= account.email %>"
          require
        />
        <label for="address">Address:</label>
        <input
          type="text"
          id="address"
          name="address"
          value="<%= account.address %>"
          require
        />
        <label for="phone_number">Phone Number:</label>
        <input
          type="text"
          id="phone_number"
          name="phone_number"
          value="<%= account.phoneNumber %>"
          require
        />
        <span id="message_error"></span>

        <button class="submit">Submit</button>
      </form>
    </main>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/accountForm.js"></script>
  </body>
</html>
