<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/dashboard.css" rel="stylesheet" />
    <link href="/css/popup.css" rel="stylesheet" />
    <title>Dynamic production line</title>
</head>
<body>
    <%- include('header') %>
    <%- include('popup') %>
    <main class="container">
        <h2><a class="addProduct" href="/admin/dashboard/add-product">Add New Product</a></h2>

        <h2 class="title">accounts:</h2>
        <table>
            <tr>
                <th>full Name</th>
                <th>email</th>
                <th>role</th>
                <th>address</th>
                <th>phone Number</th>
                <th colspan="3">action</th>
            </tr>
            <% accounts.map(account => { %>
                <tr>
                    <td><%= account.fullName %></td>
                    <td><%= account.email %></td>
                    <td><%= account.role %></td>
                    <td><%= account.address %></td>
                    <td><%= account.phoneNumber %></td>
                    <td><button value="<%= account._id %>" onclick="handleData(this.value, 'PATCH', '/admin/user-upgrade',false)">upgrade</button></td>
                    <td><button value="<%= account._id %>" onclick="handleData(this.value, 'PATCH', '/admin/user-update',true)">Edit</button></td>
                    <td><button value="<%= account._id %>" onclick="showPopup(this.value)">delete</button></td>
                </tr>
            <% }); %>
        </table>

        <h2 class="title">categories:</h2>
        <table>
            <tr>
                <th colspan="3" class="add"><button>add+</button></th>
            </tr>
            <tr>
                <th>category</th>
                <th colspan="2">action</th>
            </tr>
            <% categories.map(category => { %>
                <tr>
                    <td><%= category.category %></td>
                    <td><button>Edit</button></td>
                    <td><button>delete</button></td>
                </tr>
            <% }); %>
        </table>
    </main>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        let itemId = null;

        function handleData(id, method, path, bool){
            if(bool){
                window.location.href = `${path}/${id}`;
            }else{
                $.ajax({
                        url: path,
                        method: method,
                        contentType: "application/json",
                        data: JSON.stringify({
                        id : (itemId === null)? id : itemId
                    }),
                        success: function(response) {
                            location.reload();
                        },
                        error: function() {
                        $("#message_error").text(error?.responseJSON?.message);
                        }
                    });
                }
        }

        function showPopup(productId){
            itemId = productId;
            document.getElementById('popup').style.display = 'flex';
        }

        document.getElementById('send').addEventListener('click', () => handleData('', 'DELETE', '/admin/user-delete', false));
        document.getElementById('close').addEventListener('click', function() {
            itemId= null;
            document.getElementById('popup').style.display = 'none';
        });
    </script>
</body>
</html>