<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/list.css" rel="stylesheet" />
    <title>Dynamic production line</title>
  </head>
  <body>
    <%- include('header') %>
    <main class="container">
      <% if(orders.length > 0){ %>
        <h2>Order history:</h2>
        <% } else { %>
          <h2>No order history</h2>
      <% } %>
      <div class="orders">
        <% orders.map(order => { %>
          <% console.log(order) %>
        <div class="order-card">
          <div class="order-products">
            <% order.productList.map(item => { %>
            <div class="product-item">
              <span class="product-name">Product: <%= item.productName %></span>
              <span class="product-description"
              >Description: <%= item.description %></span
              >
              <span class="product-price">Price: <%= item.price %>&#8362;</span>
              <span class="product-description">X:<%= item.quantity %></span>
            </div>
            <% }) %>
          </div>
          <div class="order-details">
            <span class="order-date">Date: <%= order.date.toLocaleDateString() %></span>
            <span class="order-total">Total: <%= order.total %>&#8362;</span>
          </div>
        </div>
        <% }) %>
      </div>
    </main>
    <%- include('footer') %>
  </body>
</html>
